.tabel-small {
  width: 70%;
}

.responsive-table-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

table {
  width: 100%;
}

mat-paginator {
  width: 100%; 
}


.tabelu-full {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.home{
  display: flex;
  flex-direction: row;
}

.filters {
  margin-top: 90px;
  margin-left: 20px;
}

.btn-block{
margin-top: 10px;
}

.btn-add {
  margin-top: 20px;
  display: flex;
  justify-content: center; 
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  padding: 10px;
}


.buttons > .btn-add:first-child {
  justify-content: flex-start; 
margin-right: 1040px;
}

.buttons > .btn-add:last-child {
  justify-content: flex-end; 
}

.btn-logout {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px; /* Adjusts the distance from the bottom left corner */
}
