<div>
    <p class="ptitle"> Choose your preferences regarding programming topics!</p>
    <form [formGroup]="preferencesForm">

        <div class="form-prefrences">

            <div class="data">
                <p> Choose prefered soruces</p>
                <div>
                    <mat-checkbox formControlName="tutorials" class="example-margin">Tutorials</mat-checkbox>
                    <mat-checkbox formControlName="presentations" class="example-margin">Presentations</mat-checkbox>
                    <mat-checkbox formControlName="source" class="example-margin">Source code</mat-checkbox>
                    <mat-checkbox formControlName="events" class="example-margin">Events</mat-checkbox>

                </div>
            </div>
            <div class="data">
                <p> Choose prefered topics</p>
                <div>
                    <mat-checkbox formControlName="backend" class="example-margin">Backend</mat-checkbox>
                    <mat-checkbox formControlName="frontend" class="example-margin">Frontend</mat-checkbox>
                    <mat-checkbox formControlName="mobile" class="example-margin">Mobile</mat-checkbox>
                </div>
            </div>
            <ng-container *ngIf="verifyBackend()">
                <div class="data">
                    <p> Choose prefered language for backend</p>
                    <div>
                        <mat-checkbox formControlName="java" class="example-margin">Java</mat-checkbox>
                        <mat-checkbox formControlName="cpp" class="example-margin">C++</mat-checkbox>
                        <mat-checkbox formControlName="cs" class="example-margin">C#</mat-checkbox>
                        <mat-checkbox formControlName="python" class="example-margin">Python</mat-checkbox>
                        <mat-checkbox formControlName="ruby" class="example-margin">Ruby</mat-checkbox>
                        <mat-checkbox formControlName="node" class="example-margin">Node.js</mat-checkbox>

                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="verifyFrontend()">
                <div class="data">
                    <p> Choose prefered frameworks for frontend</p>
                    <div>
                        <mat-checkbox formControlName="angular" class="example-margin">Angular</mat-checkbox>
                        <mat-checkbox formControlName="react" class="example-margin">React</mat-checkbox>
                        <mat-checkbox formControlName="vue" class="example-margin">Vue</mat-checkbox>
                        <mat-checkbox formControlName="razor" class="example-margin">Razor</mat-checkbox>
                        <mat-checkbox formControlName="next" class="example-margin">Next.js</mat-checkbox>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="verifyMobile()">
                <div class="data">
                    <p> Choose prefered frameworks for mobile</p>
                    <div>
                        <mat-checkbox formControlName="reactNat" class="example-margin">React Native</mat-checkbox>
                        <mat-checkbox formControlName="swift" class="example-margin">Swift</mat-checkbox>
                        <mat-checkbox formControlName="objective" class="example-margin">Objective-C</mat-checkbox>
                        <mat-checkbox formControlName="kotlin" class="example-margin">Kotlin</mat-checkbox>
                        <mat-checkbox formControlName="flutter" class="example-margin">Flutter</mat-checkbox>

                    </div>
                </div>
            </ng-container>

            <div class="data">
                <p> Choose prefered target platforms</p>
                <div>
                    <mat-checkbox formControlName="linux" class="example-margin">Linux</mat-checkbox>
                    <mat-checkbox formControlName="macox" class="example-margin">MacOs</mat-checkbox>
                    <mat-checkbox formControlName="windows" class="example-margin">Windows</mat-checkbox>
                </div>
            </div>

            <div class="data">
                <p> Choose prefered geographical areas</p>
                <div>
                    <mat-checkbox formControlName="europe" class="example-margin">Europe</mat-checkbox>
                    <mat-checkbox formControlName="africa" class="example-margin">Africa</mat-checkbox>
                    <mat-checkbox formControlName="australia" class="example-margin">Australia</mat-checkbox>
                    <mat-checkbox formControlName="asia" class="example-margin">Asia</mat-checkbox>
                    <mat-checkbox formControlName="antarctica" class="example-margin">Antarctica</mat-checkbox>
                    <mat-checkbox formControlName="northAm" class="example-margin">North America</mat-checkbox>
                    <mat-checkbox formControlName="southAm" class="example-margin">South America</mat-checkbox>
                </div>
            </div>

            <div class="data">
                <p> Choose prefered frameworks</p>
                <div>
                    <mat-checkbox formControlName="spring" class="example-margin">Spring</mat-checkbox>
                    <mat-checkbox formControlName="net" class="example-margin">.NET</mat-checkbox>
                    <mat-checkbox formControlName="rails" class="example-margin">RubyOnRais</mat-checkbox>
                    <mat-checkbox formControlName="django" class="example-margin">Django</mat-checkbox>
                    <mat-checkbox formControlName="flask" class="example-margin">Flask</mat-checkbox>
                    <mat-checkbox formControlName="nest" class="example-margin">Nest.js</mat-checkbox>

                </div>
            </div>

        </div>

    </form>
    <div class="btn">
        <button mat-stroked-button color="accent" (click)="savePreferences()">Save</button>
    </div>

</div>